<div>
  <div class="table-header">
    <table>
      <thead>
        <tr class="header-row">
          <th class="">Employee Id</th>
          <th class="">Employee Name</th>
          <th class="">mCode</th>
          <th class="">Sub Level</th>
          <th class="">Project</th>
          <th class="">N+1</th>
          <th class="">N+2</th>
          <th class="">Contact Number</th>
          <th class="">Address</th>
          <th class=""> Assest</th>

        </tr>
      </thead>
    </table>
  </div>

  <div class="table-body">
    <table>
      <tbody>
        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>


        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>


        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>


        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<!-- add team member html add-->

<div class="parent-div">
  <div>
   <b><i>Update Team Member Details</i></b>
  </div>

<form [formGroup]="updateTeamMemberForm"  (ngSubmit)="onSubmit(updateTeamMemberForm.value)">
  <div class="column">
    <div class="div-style">
      Employee Id :
    </div>
    <input type="text"  formControlName="employeeId"/>
  </div>

  <div class="column ">
    <div class="div-style">
      Employee Name :
    </div>
    <input type="text" formControlName="employeeName" />
  </div>
  <div class="column">
    <div class="div-style">
     M Code :
    </div>
    <input type="text"  formControlName="mCode"/>
  </div>

  <div class="column ">
    <div class="div-style">
      Sub Level :
    </div>
    <input type="text"  formControlName="subLevel" />
  </div>
  <div class="column">
    <div class="div-style">
      Project :
    </div>
    <input type="text"  formControlName="project"/>
  </div>

  <div class="column">
    <div class="div-style">
      N + 1
    </div>
    <input type="text"  formControlName="n1"/>
  </div>
  <div class="column">
    <div class="div-style">
      N + 2:
    </div>
    <input type="text"  formControlName="n2" />
  </div>

  <div class="column">
    <div class="div-style">
      Contact Number :
    </div>
    <input type="text" formControlName="contactNumber" />
  </div>
  <div class="column">
    <div class="div-style">
      Address :
    </div>
    <input type="text" formControlName="address"/>
  </div>

  <div class="column">
    <div class="div-style">
     Assest :
    </div>
    <input type="text" formControlName="assest" />
  </div>

  <div class="button-column">
      <div >
      <button type="reset" style="background: rgba(0,0,0,0.6)">Reset</button>
      <button  type="submit"  style="background: rgba(0,0,0,0.6)">Submit</button>
      </div>
      
    </div>
    
  </form>   
      
    
</div>