.header{
    position: fixed;
    top: 0vw;
    left: 0vw;
    width: 100%;
    padding: 0.5vw;
    height:3vw;
    background: rgba(0,0,0,0.9);
    color: white;
    border:none;
    z-index: 1;
    

}
.logo{
    margin-left: 1.5vw;
    height:2.5vw;
    width :auto;
      
}


.heading{
    width:25vw;
    position:fixed;
    margin-left: 1vw;
    font-size: 2vw;
    
   /* animation-iteration-count: 3;*/
}
.header-anim{
    animation-name: heading;
    animation-duration: 3s;
}


@keyframes heading {
    from {margin-left:60vw;
         }
    to {margin-left:0vw;
         }


}

.menu{
    font-size: 1.5vw;
    padding:0.5vw;
    float:right;
    margin-right:2.5vw;
    }


.menu-block{
    z-index: 1;
    height:80vh;
    width:30vw;
    padding:1vw;
    margin-top:1.5vw;
    color:black;
    background:gainsboro;
    right:0;
    display: block;
    position: absolute;
    margin-right:2vw;
    border-radius: 2vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);  
    animation-name: menu-block;
    animation-duration: 2s;
}
@keyframes menu-block {
    from {margin-right: -32vw;
        
    }
    to {margin-right: 2vw;
   }
}
