.parent-div{
    margin-top:1%;
    margin-right:8%;
    margin-left:8%;
    background: rgba(0, 0, 0, 0.3);
    color: black;
    font-size: 1.3vw;
    height: 35vw;
    text-align: center;
    padding: 1vw;
}

.div-style{
    width:35%;
    text-align: left;
    margin-right: 3vw;
    display: inline-block;
    
}


/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 30vw;
    padding-top:2%;
    padding-left: 5%;
    padding-right: 5%;
     /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */

input{
    border: none;
    height:1.5vw;
    width:15vw;
    border-radius: 0.3vw;
    padding: 0.5vw;
}
.button-column {
    float: left;
    width: 70vw;
    padding-top:2%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
     /* Should be removed. Only for demonstration */
}

button{
    margin-top: 1.5vw;
    height:2.5vw;
    width: 5vw;
    text-align: center;
    border-radius: 0.3vw;
    color: white;

}