<div class="parent-div row">
  <div>
   <b><i>Add Team Member</i></b>
  </div>


  <div class="column">
    <div class="div-style">
      Employee Id :
    </div>
    <input type="text" />
  </div>

  <div class="column ">
    <div class="div-style">
      Employee Name :
    </div>
    <input type="text" />
  </div>
  <div class="column">
    <div class="div-style">
     M Code :
    </div>
    <input type="text" />
  </div>

  <div class="column ">
    <div class="div-style">
      Sub Level :
    </div>
    <input type="text" />
  </div>
  <div class="column">
    <div class="div-style">
      Project :
    </div>
    <input type="text" />
  </div>

  <div class="column">
    <div class="div-style">
      N + 1
    </div>
    <input type="text" />
  </div>
  <div class="column">
    <div class="div-style">
      N + 2:
    </div>
    <input type="text" />
  </div>

  <div class="column">
    <div class="div-style">
      Contact Number :
    </div>
    <input type="text" />
  </div>
  <div class="column">
    <div class="div-style">
      Address :
    </div>
    <input type="text" />
  </div>

  <div class="column">
    <div class="div-style">
     Assest :
    </div>
    <input type="text" />
  </div>

  <div class="button-column">
      <div >
      <button disabled="disabled" style="background: rgba(0,0,0,0.6)">Reset</button>
      <button disabled="disabled" style="background: rgba(0,0,0,0.6)">Submit</button>
      </div>
      
    </div>
    
    
      
    
</div>