<div class="parent-div row">
  <div>
    <b>
      <i>Add Team Member</i>
    </b>
  </div>

  <form [formGroup]="addTeamMemberForm" (ngSubmit)="onSubmit(addTeamMemberForm.value)">

    <div class="column">
      <div class="div-style">
        Employee Id :
      </div>
      <span class="tooltip">
      <input type="text" required formControlName="employeeId" />
      <span class="tooltiptext"  *ngIf="addTeamMemberForm.get('employeeId').invalid &&(addTeamMemberForm.get('employeeId').touched || addTeamMemberForm.get('employeeId').dirty )">
        Provide Valid Employee Id</span>
    </span>
    </div>

    <div class="column ">
      <div class="div-style">
        Employee Name :
      </div>
      <span class="tooltip">
        <input type="text" required formControlName="employeeName" />
        <span class="tooltiptext" *ngIf="addTeamMemberForm.get('employeeName').invalid && (addTeamMemberForm.get('employeeName').touched || addTeamMemberForm.get('employeeName').dirty )">
         Provide Valid Employee Name</span>
      </span>
    </div>

    <div class="column">
      <div class="div-style">
        M Code :
      </div>
      <span class="tooltip">
      <input type="text" required formControlName="mCode" />
      <span class="tooltiptext" *ngIf="addTeamMemberForm.get('mCode').invalid && (addTeamMemberForm.get('mCode').touched || addTeamMemberForm.get('mCode').dirty ) ">
       Provide Valid M Code</span>
      </span>
    </div>

    <div class="column ">
      <div class="div-style">
        Sub Level :
      </div>
      <span class="tooltip">
      <input type="text" required formControlName="subLevel" />
      <span class="tooltiptext" *ngIf="addTeamMemberForm.get('subLevel').invalid && (addTeamMemberForm.get('subLevel').touched || addTeamMemberForm.get('subLevel').dirty )">
        Provide Valid Sub Level</span>
    </span>
    </div>
    <div class="column">
      <div class="div-style">
        Project :
      </div>
      <span class="tooltip">
      <input type="text" required formControlName="project" />
      <span class="tooltiptext" *ngIf="addTeamMemberForm.get('project').invalid && (addTeamMemberForm.get('project').touched || addTeamMemberForm.get('project').dirty )">
        Provide Valid Project</span>
    </span>
    </div>

    <div class="column">
      <div class="div-style">
        N + 1
      </div>
      <span class="tooltip">
      <input type="text" required formControlName="n1" />
      <span class="tooltiptext" *ngIf="addTeamMemberForm.get('n1').invalid &&  (addTeamMemberForm.get('n1').touched || addTeamMemberForm.get('n1').dirty )">
       Provide Valid   N+1</span>
    </span>
    </div>
    <div class="column">
      <div class="div-style">
        N + 2:
      </div>
      <span class="tooltip">
      <input type="text" required formControlName="n2" />
      <span class="tooltiptext" *ngIf="addTeamMemberForm.get('n2').invalid &&  (addTeamMemberForm.get('n2').touched || addTeamMemberForm.get('n2').dirty )">
          Provide Valid   N+2</span>
      </span>
    </div>

    <div class="column">
      <div class="div-style">
        Contact Number :
      </div>
      <span class="tooltip">
      <input type="text" required formControlName="contactNumber" />
      <span class="tooltiptext" *ngIf="addTeamMemberForm.get('contactNumber').invalid && (addTeamMemberForm.get('contactNumber').touched || addTeamMemberForm.get('contactNumber').dirty )">
          Provide Valid Contact Number</span>
      </span>
    </div>
    <div class="column">
      <div class="div-style">
        Address :
      </div>
      <span class="tooltip">
      <input type="text" required formControlName="address" />
      <span class="tooltiptext" *ngIf="addTeamMemberForm.get('address').invalid && (addTeamMemberForm.get('address').touched || addTeamMemberForm.get('address').dirty)">
          Provide Valid Address</span>
      </span>
    </div>

    <div class="column">
      <div class="div-style">
        Assest :
      </div>
      <span class="tooltip">
      <input type="text" required formControlName="assest" />
      <span class="tooltiptext" *ngIf="addTeamMemberForm.get('assest').invalid && (addTeamMemberForm.get('assest').touched || addTeamMemberForm.get('assest').dirty )">
          Provide Valid Assest</span>
      </span>
    </div>

    <div class="button-column">
      <div>
        <button type="reset" style="background: rgba(0,0,0,0.6)">Reset</button>
        <button type="submit" style="background: rgba(0,0,0,0.6)" [disabled]="addTeamMemberForm.invalid">Submit</button>
      </div>

    </div>

  </form>


</div>