<!--<button (click)="editable()">{{btnEdit}}</button>-->
<br/><br/> 
<ag-grid-angular
style="width:100%; height:75vh"
class="ag-theme-balham centering"
[enableSorting]= "true"
[enableFilter]="true"
[rowData]=" portFolioData"
[columnDefs]="columnDefs"

[defaultColDef]="defaultColDef"
[enableColResize]="true"
[enableCellChangeFlash]="true"
[context]="context"
[editType]="editType"
[frameworkComponents]="frameworkComponents"

[suppressClickEdit]="suppressClickEdit"
[rowSelection]="rowSelection"
[defaultColDef]="defaultColDef"
(gridReady)="onGridReady($event)"

(cellValueChanged)="onCellValueChanged($event)"

(rowValueChanged)="onRowValueChanged($event)"
(cellFocused)="cellFocused($event)"
(sortChanged)="updateRowData($event)"


>
</ag-grid-angular>

<button class="btn btn-success" (click)="onAddRow()">Add Row</button>
<button class="btn btn-danger" (click)="onRemoveSelected()">Remove Selected</button>
<a  role="tooltip" aria-haspopup="true" class="tooltip tooltip-lg">
      <clr-icon shape="info-circle" size="24"></clr-icon>
      <span class="tooltip-content">ctrl + click to select multiple rows</span>
  </a>
<!-- (gridReady)="onGridReady($event)" used instead [onGridReady]="onGridReady"
      (cellValueChanged) gets called for each column
but   (rowValueChanged) gets called once for row
-->