.heading{
    text-align: center;
    font-size: 2vw;
    margin-bottom: 0.5vw;
}

.tdm-menu{
    text-align: center;
    height:4vw;
    
    overflow-y: hidden;    
}

.menu-link{
    text-align: center;
    display: inline-table;
    height:2.3vw;
    padding-top: 0.6vw;
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    border-radius: 0.5vw;
    border: 0.15vw solid black;
    width:10vw;
}
.menu-link:hover{

    border: 0.2vw solid gainsboro;
    color:white;
    background: rgba(0,0,0,0.7);
}