<br/>
<br/>

<br/>
<div class="heading">
  <label>Team Data Management</label>
</div>
<div class="tdm-menu">
  <div class="menu-link"  [routerLink]="['./tdm-view-members']" (click)="colorFlagChanger(1)" [ngStyle]="getMyStyles(1)">
    View All Members
  </div>
  <div class="menu-link"  [routerLink]="['./tdm-add-members']" (click)="colorFlagChanger(2)" [ngStyle]="getMyStyles(2)">
    Add Team Members
  </div>
  <div class="menu-link"  (click)="colorFlagChanger(3)" [ngStyle]="getMyStyles(3)">
    Update Details
  </div>
  <div class="menu-link"  (click)="colorFlagChanger(4)" [ngStyle]="getMyStyles(4)">
    Search
  </div>

</div>

<router-outlet></router-outlet>