
 <ag-grid-angular
 style="width:1200px; height:500px"
 class="ag-theme-balham centering"
 [enableSorting]= "true"
 [enableFilter]="true"
 [rowData]="employeeData"
 [columnDefs]="columnDefs"
 [defaultColDef]="defaultColDef"
 [enableColResize]="true"
 [enableCellChangeFlash]="true"
 [context]="context"
 [frameworkComponents]="frameworkComponents" 
 [editType]="editType" 
 [suppressClickEdit]="suppressClickEdit"

 
 (gridReady)="onGridReady($event)"
 (rowValueChanged)="onRowValueChanged($event)"
 >
 </ag-grid-angular>

 <!-- 
 //(cellValueChanged)="onCellValueChanged($event)" -->