<div>
    <div class="table-header">
      <table>
        <thead>
          <tr class="header-row">
            <th class="">Employee Id</th>
            <th class="">Employee Name</th>
            <th class="">mCode</th>
            <th class="">Sub Level</th>
            <th class="">Project</th>
            <th class="">N+1</th>
            <th class="">N+2</th>
            <th class="">Contact Number</th>
            <th class="">Address</th>
            <th class=""> Assest</th>
  
          </tr>
        </thead>
      </table>
    </div>
  
    <div class="table-body">
      <table>
        <tbody>
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
        </tbody>
      </table>
    </div>
  
  </div>