
.table-header{
    position: relative;
    text-align: center;
    background: black;
    margin-right:1.2%;
}
.table-body{
    position: relative;
    text-align: center;
    overflow-y: scroll;
    height: 30vw;;
    background:  rgba(0,0,0,0.2);;
}
.header-row{
    line-height:200%;
    border-bottom: black;
}

th{
    margin:0.2vw;
    text-align: center;
    color:white;
    width:9.3vw;
    font-weight: lighter;
}
.data-row{
    width: 100vw;
    line-height:150%;  
}

.data-row:hover{
    background: salmon;
}

td{
    text-align: center;
    margin:0.07vw;
    width:9.3vw;
    font-weight: lighter;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    
}

input[type="text"]{
    border:none;
    width:9vw;
    height: 1.5vw;
    padding-left: 0.5vw;
    border-radius: 0.4vw;
}