<div class="search-div">

    <form [formGroup]="searchForm"  (ngSubmit)="onSubmit(searchForm.value)">
      Search By :
      <input type="radio" name="option" formControlName="option"   value="account" />Account
      <input type="radio" name="option" formControlName="option"  value="technologyStacks" />Technology Stacks
     <!-- <input type="radio" name="option" formControlName="option"  value="status" />Status-->
      <input type="text"  formControlName="keyword" name="keyword" />
      <button type="submit" class="search-button" [disabled]=searchForm.invalid>Search</button>
    </form>
  </div>

<div>
    <div class="table-header">
      <table>
        <thead>
          <tr class="header-row">
            <th class="">Account</th>
            <th class="">Technology Stacks</th>
            <th class="">Status</th>
            <th class="">DBA Support</th>
            <th class="">IAAS</th>
            <th class="">Development Service</th>
            <th class="">Enhancements</th>
            <th class="">Infra-Monitoring</th>
            <th class="">Support Status</th>
            <th class="">Testing Service</th>
  
          </tr>
        </thead>
      </table>
    </div>
  
    <div class="table-body">
      <table>
        <tbody>
          <tr class="data-row" *ngFor="let data of portFolioData" >

            <td class=""><input type="text" [disabled]="data.id!=buttonFlag" placeholder="account" [(ngModel)]="data.account"></td>
            <td class=""><input type="text" [disabled]="data.id!=buttonFlag" placeholder="Technology Stacks"  [(ngModel)]="data.technologyStacks"></td>
            <td class=""><input type="text" [disabled]="data.id!=buttonFlag" placeholder="status"  [(ngModel)]="data.status"></td>
           
          <td class="" *ngIf="data.dBASupport==true" (click)="changeValue(data,'dBASupport')">&#10004;</td>
          <b> <td class=""  *ngIf="data.dBASupport==false" (click)="changeValue(data,'dBASupport')">&#x2718;</td></b>
 
           <td class="" *ngIf="data.iAAS==true"  (click)="changeValue(data,'iAAS')">&#10004;</td>
           <b><td class="" *ngIf="data.iAAS==false"  (click)="changeValue(data,'iAAS')">&#x2718;</td></b>
 
           <td class="" *ngIf="data.developmentService==true"  (click)="changeValue(data,'developmentService')">&#10004;</td>
           <b><td class="" *ngIf="data.developmentService==false"  (click)="changeValue(data,'developmentService')">&#x2718;</td></b>
 
           <td class="" *ngIf="data.enhancements==true"  (click)="changeValue(data,'enhancements')">&#10004;</td>
           <b><td class="" *ngIf="data.enhancements==false"  (click)="changeValue(data,'enhancements')">&#x2718;</td></b>
 
           <td class="" *ngIf="data.infraMonitoring==true"  (click)="changeValue(data,'infraMonitoring')">&#10004;</td>
           <b><td class="" *ngIf="data.infraMonitoring==false"  (click)="changeValue(data,'infraMonitoring')">&#x2718;</td></b>
 
           <td class="" *ngIf="data.supportService==true"  (click)="changeValue(data,'supportService')">&#10004;</td>
           <b><td class="" *ngIf="data.supportService==false"  (click)="changeValue(data,'supportService')">&#x2718;</td></b>
 
           <td class="" *ngIf="data.testingService==true"  (click)="changeValue(data,'testingService')">&#10004;</td>
           <b><td class="" *ngIf="data.testingService==false"  (click)="changeValue(data,'testingService')">&#x2718;</td></b>

           <td *ngIf="data.id!=buttonFlag"  (click)="buttonValue('edit',data)" class="noBackGround"><Button >Edit</Button></td>
           <td *ngIf="data.id==buttonFlag" (click)="buttonValue('save',data)" class="noBackGround"><Button >Save</Button></td>
          </tr>
  
         
        </tbody>
      </table>
    </div>
  
  </div>

  