<div>
    <div class="table-header">
      <table>
        <thead>
          <tr class="header-row">
            <th class="">Account</th>
            <th class="">Technology Stacks</th>
            <th class="">Status</th>
            <th class="">DBA Support</th>
            <th class="">IAAS</th>
            <th class="">Development Service</th>
            <th class="">Enhancements</th>
            <th class="">Infra-Monitoring</th>
            <th class="">Support Status</th>
            <th class="">Testing Service</th>
  
          </tr>
        </thead>
      </table>
    </div>
  
    <div class="table-body">
      <table>
        <tbody>
          <tr class="data-row">
            <td class=""><input type="text" placeholder="account"></td>
            <td class=""><input type="text" placeholder="Technology Stacks"></td>
            <td class=""><input type="text" placeholder="status"></td>
            <td class=""><input type="radio" name="dbaSupport">Yes<input type="radio" name="dbaSupport">No</td>
            <td class=""><input type="radio" name="dbaSupport">Yes<input type="radio" name="dbaSupport">No</td>
            <td class=""><input type="radio" name="dbaSupport">Yes<input type="radio" name="dbaSupport">No</td>
            <td class=""><input type="radio" name="dbaSupport">Yes<input type="radio" name="dbaSupport">No</td>
            <td class=""><input type="radio" name="dbaSupport">Yes<input type="radio" name="dbaSupport">No</td>
            <td class=""><input type="radio" name="dbaSupport">Yes<input type="radio" name="dbaSupport">No</td>
            <td class=""><input type="radio" name="dbaSupport">Yes<input type="radio" name="dbaSupport">No</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">&#10003;</td>
            <td class="">&#10004;	</td>
            <td class="">Development Service</td>
            <td class="">&#9745;	</td>
            <td class="">&times;</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
  
          <tr class="data-row">
            <td class="">Account</td>
            <td class="">Technology Status</td>
            <td class="">Status</td>
            <td class="">DBA Support</td>
            <td class="">IAAS</td>
            <td class="">Development Service</td>
            <td class="">Enhancements</td>
            <td class="">Infra-Monitoring</td>
            <td class="">Support Status</td>
            <td class="">Testing Service</td>
          </tr>
        </tbody>
      </table>
    </div>
  
  </div>