
.table-header{
    position: relative;
    text-align: center;
    background: black;
    margin-right:1.2%;
}
.table-body{
    position: relative;
    text-align: center;
    overflow-y: scroll;
    height: 30vw;;
    background:  rgba(0,0,0,0.2);;
}
.header-row{
    
    line-height:200%;
    border-bottom: black;
}
th{
    margin:0.2vw;
    text-align: center;
    color:white;
    width:9vw;
    font-weight: lighter;
}
.data-row{
    width: 100vw;
    line-height:150%;  
}

.data-row:hover{
    background: salmon;
}

td{
    text-align: center;
    margin:0.07vw;
    width:9vw;
    font-weight: lighter;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    
}

.search-div{
    text-align: center;
    height:4vw;
    width: auto;
    font-size: 1.3vw;
}

input[type="text"]{
    height: 1.7vw;
    padding: 0.2vw;
    width: 15vw;
    border-radius: 0.5vw;
}

.search-button{
    height: auto;
    padding: 0.6vw;
    font-size: 1vw;
    border-radius: 0.5vw;
    background: aliceblue;
    border:0.1vw solid black;
}



.modal-parent{
    
    font-size: 1.7vw;

    height:92%;
    width: 100%;
    position: absolute;
    z-index: 0;
    left:0;
    top:8%;
    padding: 0 auto;
    background: rgba(0,0,0,0.5);
}


.modal-child{
    background-color: #fefefe;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;    
   
    border: 1px solid #888;
    width: 35%;
    text-align: center;

}


.close-icon{
    float: right;
    font-weight: bold;
    font-size: 200%;
}

.close-icon:hover{
    color:red;
    font-weight: bolder;
    cursor: pointer;
}
span{
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    display: inline-block;
    width:40%;
    white-space:inherit;
    font-size: 1.7vw;


}
.label-style{
    
}


