spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/opr_mgmt
    username: postgres
    password: admin
    driver-class-name: org.postgresql.Driver  
  application:
    name: team-data-management
  liquibase:
    enabled: false
  jpa:
   properties:
     hibernate:
        jdbc:
          lob:
            non_contextual_creation : true  
   hibernate:
      ddl-auto: create    
   database-platform: org.hibernate.dialect.PostgreSQL9Dialect 
   show-sql: true  
   
    
    
server:
  port: 9000

eureka:
  instance:
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: http://10.224.24.218:8761/eureka/
      #  defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
  
