<div>
  <div class="table-header">
    <table>
      <thead>
        <tr class="header-row">
          <th class="">Account</th>
          <th class="">Technology Stacks</th>
          <th class="">Status</th>
          <th class="">DBA Support</th>
          <th class="">IAAS</th>
          <th class="">Development Service</th>
          <th class="">Enhancements</th>
          <th class="">Infra-Monitoring</th>
          <th class="">Support Status</th>
          <th class="">Testing Service</th>

        </tr>
      </thead>
    </table>
  </div>

  <div class="table-body">
    <table>
      <tbody>
        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>


        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>


        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>


        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>

        <tr class="data-row">
          <td class="">Account</td>
          <td class="">Technology Status</td>
          <td class="">Status</td>
          <td class="">DBA Support</td>
          <td class="">IAAS</td>
          <td class="">Development Service</td>
          <td class="">Enhancements</td>
          <td class="">Infra-Monitoring</td>
          <td class="">Support Status</td>
          <td class="">Testing Service</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>